[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nakul-007
[access "refs/for/refs/*"]
	read = group user/Nakul-007
	push = group user/Nakul-007
	label-Code-Review = -2..+2 group user/Nakul-007
	label-Verified = -1..+1 group user/Nakul-007
	rebase = group user/Nakul-007
	removeReviewer = group user/Nakul-007
	submit = group user/Nakul-007
[access "refs/heads/*"]
	read = group user/Nakul-007
	create = group user/Nakul-007
	push = +force group user/Nakul-007
	pushMerge = group user/Nakul-007
[access "refs/tags/*"]
	push = group user/Nakul-007
	push = +force group user/Nakul-007
